.parent {
	margin: 0 auto;
	width: 800px;
}

.form {
	display: flex;
	padding-bottom: 15px;
}

.form__inp {
	padding: 8px;
	width: 24%;
	margin: 0 0.5% 10px 0.5%;
}

h2 {
	margin-top: 0;
	margin-bottom: 7px;
}

.table {
	width: 100%;
}
.table td,
.table th {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}
.table td.remove {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}
.table td.remove:hover {
	text-decoration: none;
}

.result {
	text-align: right;
	padding-right: 10px;
}